﻿@using WebApplication.Web.Models.Account;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div id="login-div">
    <div id="welcome">
        <p>Welcome to Crop Planner!</p>
        <p id="welcome-text">Welcome back! Login to view your information.</p>
    </div>
    <div id="form-body">
        <form class="login" asp-controller="account" asp-action="login" method="post">
            <span class="invalid-login">@Html.ValidationSummary(false, "", new { @class = "error" })</span>
            <table id="login-register">
                <tr>
                    <td>
                        <label asp-for="Email"></label>
                        <span class="error" asp-validation-for="Email"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" asp-for="Email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password"></label>
                        <span class="error" asp-validation-for="Password"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" asp-for="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login" class="btn btn-default" />
                    </td>
                </tr>
            </table>
            <p> <a id=login-register asp-controller="Account" asp-action="Register">Don't have an account? Register here.</a></p>
        </form>
    </div>
</div>