﻿@using WebApplication.Web.Models.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div id="login-div">
    <div id="welcome">
        <p>Welcome to Crop Planner!</p>
        <p id="welcome-text">Create a new account so you can start your garden planning!</p>
    </div>
    <div id="form-body">
        <form class="login" asp-controller="account" asp-action="register" method="post">
            <table>
                <tr>
                    <td>
                        <label asp-for="Email"></label>
                        <span class="error" asp-validation-for="Email"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="email" asp-for="Email" /></td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password"></label>
                        <span class="error" asp-validation-for="Password"></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="password" asp-for="Password" /></td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="ConfirmPassword"></label>
                        <span class="error" asp-validation-for="ConfirmPassword"></span>
                    </td>
                </tr>
                <tr><td><input type="password" asp-for="ConfirmPassword" /></td></tr>
                <tr><td><input type="submit" value="Register" class="btn btn-default" /></td></tr>
            </table>
            <p> <a id="login-register" asp-controller="Account" asp-action="Login">Back to login</a></p>
        </form>
        
    </div>
 </div>